*
{
    font-family:  Courier;
    box-sizing: border-box;
}
.div_Ex
{
    /* background-color: blue; */
    padding: 20px ;
    position: relative;
}
.div_tilte
{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 6px;
    left: 30px;
    padding: 0 10px;
    border: 2px solid blue;
    border-radius: 10px;

}
.div_content
{
    border: 2px solid blue; 
    padding: 10px;
    padding-top: 20px;
}

.div_element
{
width: 100%;
border: 1px solid #ccc;
padding: 5px    ;
}
input
{
font-size: 16px;
}
button
{
font-size: 16px;
}
label
{
font-size: 22px;  
margin-top: 5px;  
}